<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="PreserveLoginUrl" value="true"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <add key="BASE_URL" value="YOUR_BASE_URL" />
  <add key="MSWEEK_SECRET" value="YOUR_MSWEEK_SECRET" />
  <add key="API_KEY" value="YOUR_SENDGRID_API_KEY" />
</appSettings>
